<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<h3>Add Quote form</h3>

<form th:action="@{/quotes/insertQuote}" th:object="${quote}" method="post">

     
	<p>
		<label>Type Tag</label> <input name="typeTag"
			type="text">
	</p>
	<p>
		<label>Sentence</label> <input name="sentence"
			type="text">
	</p>
	<p>
		<label>NumberOfWords</label> <input name="numberOfWords" type="number">
	</p>

		<div th:object="${book}">
			<label>Select Book</label>
			<select id="selectBook" name="idBook">
				<option th:each="book : ${books}" th:value="${book.id}" 
					th:text="${book.id}+' : '+${book.title}"></option>
			</select>
		</div>
	<p>
		<button type="submit">Add</button>
	</p>
	
</form>
</html>


